<section class="pt-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h3 class="fw-light">シェアハウス管理アプリへようこそ</h3>
      <p class="lead text-muted">共同生活に必要な機能を使用できます。</p>
      <p>
        <a href="/houses/sign_up" class="btn btn-outline-info my-2">新規登録</a>
        <a href="/houses/sign_in" class="btn btn-outline-secondary my-2">ログイン</a>
      </p>
    </div>
  </div>
</section>