<div>
<%= link_to "メニュー画面へ戻る", root_path, class: "post" %>
</div>
<div>
  <%= link_to "ルールの作成",  new_rule_path, class: "post" %>
</div>
<% @rules.each do |rule| %>
  <%= rule.content %> 
  <%= link_to rule_path(rule.id) do %>
    詳細
  <% end %>
<% end %>